// src/scss/main.scss

// 1. Importa las variables primero
@import 'variables';

// 2. Importa estilos de layout (puedes añadir cosas aquí luego)
@import 'layout';

// 3. Importa los componentes (botones, modales, etc.)
@import 'components';

// 4. Importa animaciones (puedes añadir cosas aquí luego)
@import 'animations';